<nav class="navbar navbar-expand-md navbar-light bg-white">
  <a class="navbar-brand" href="https://www.capgemini.com/pl-pl/" target="_blank">
    <img src="assets/images/logo.svg">
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>
